# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml

# macOS
macos/Flutter/GeneratedPluginRegistrant.swift

# Couverture
coverage/

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store
